 
#banner {
	grid-area: banner;
	margin-top: 30px; /* Add a top margin to avoid content overlay */
}

#navigation {
	grid-area: navigation;
	 
	overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
 
}

 
#navigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation a:hover {
      background: #ddd;
      color: black;
  }

#sidenav {
	grid-area: sidenav;
}

#about {
	grid-area: about;
}

#news {
	grid-area: news;
}

#staff {
	grid-area: staff;
}

#policies {
	grid-area: policies;
}

#history {
	grid-area: history;
}

#contact {
	grid-area: contact;
}

#footer {
	grid-area: footer;
}

.grid {
	display: grid;
	grid-template-areas: 	"navigation navigation"
							"banner banner"
							"about news"
							"contact news"
							"staff news"
							"policies policies"
							"history history"
							"footer footer";
	grid-gap: 10px 10px;
  		
				
}

/* remove when no longer required */
.grid > div {
    border: 2px solid rgb(233,171,88);
    border-radius: 5px;
    background-color: rgba(233,171,88,.5); 
}

.black-bg {
	background-color: black;
}

.grid-item-padding {
	padding: 10px;
}



.center-grid-item {
   justify-self: center;
}

.center-text-content {
	text-align: center;
	vertical-align: middle;
}

/******* menu icon ********/
#navigation-text {
	color: white;
	float: right;
}

#sidenav-toggle {
	padding-left: 10px;
	float: left;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: grey;
    margin: 6px 0;
}
/******* menu icon ********/


/******* The side navigation menu *******/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/******* The side navigation menu *******/


